@import "@globalStyles/responsive.css";

.ProfileControl{
    padding: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width:100%;
    .headInfo{
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
        padding: 16px;
        h1{
            text-align: center;
            font-size: 2rem;
            line-height: normal;
            padding: inherit;
            @media(--screen-lg) {
                font-size: 2.5rem;
            }
        }
        h2{
            font-size: 1rem;
            @media(--screen-md) {
                font-size: 1.5rem;
            }
        }
        
    }
    .ControlCardsContainer{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .noItemsLeft{
            grid-column: span 3;
            svg{
                color: #5bfff1;
            }
            button svg {
                color: white;
            }
        }
    }
}