.formContainer {
    margin-top: 12px;
    display: grid;
    justify-content: center;

    main {
        padding: 10px;
        max-height: 400px;
    }

    button:hover,
    button:focus {
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
        transform: translateY(-0.25em);
    }

    input {
        border: none;
        width: 284px;
        height: 50px;
        left: 0px;
        top: 0px;
        background: rgba(170, 212, 200, 0.15);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-weight: 400;
        font-size: 18px;
        position: relative;
        text-align: center;
    }

    .icon {
        position: relative;
        left: 20px;
        top: -35px;

    }

    .sendButton {
        width: 210px;
        height: 48px;
        margin-top: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        color: #FFFFFF;
        background: var(--salmon);
        border: var(--salmon);
        font-weight: bold;
        justify-self: center;
        font-size: 20px;
    }
}




