@import "@styles/responsive.css";

.Login {

    display: grid;
    gap: 16px;
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    .formContainer {
        width: 100%;
        display: grid;
        justify-items: center;
        padding: 12px;
        @media (--screen-lg) {
            margin-top: 0px;
        }

    }


    .otherLoginContainer p {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #190845;

    }

    .otherLoginContainer p a {
        font-weight: bolder;
        color: #190845;

    }

    .otherLoginContainer div {
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }

    hr {
        width: 30.5px;
        height: 0px;


        border: 0.8px solid #000000;
    }

    .otherLoginContainer h2 {
        font-weight: bolder;
        color: #190845;
        font-size: 20px;
        line-height: 24px;

    }

    .buttonsContainer {
        display: grid;
        justify-content: center;
        gap: 24px;
    }

    .googleButton {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 200px;
        height: 60px;
        border: #FFFFFF;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        padding: 5px 0;
        align-items: center;

    }

    .googleButton {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 46px;
            height: 50px;

        }

        p {
            width: 136px;
            height: 38px;

            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;

            color: rgba(0, 0, 0, 0.54);

        }

    }


    .faceButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        border: #FFFFFF;
        background: #1877F2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px 0;
        align-items: center;
        border-radius: 16px;

        img {
            width: 50px;
            height: 50px;
        }

        p {
            width: 136px;
            height: 38px;

            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
        }

    }


    .sideDecors {
        position: relative;
        height: 100vh;
        display: none;
        align-items: center;

        @media (--screen-lg) {
            display: grid;
        }

        svg {
            position: absolute;

            &:first-child {
                left: -65px;
                z-index: 2;
            }
        }
    }

}

