@import "@globalStyles/responsive.css";

.Admin {
    .main {
        display: flex;

        .content {
            width: calc(100% - 40px);
            padding-left: 40px;
            @media (--screen-md) {
                width: calc(100%);
                padding-left: 260px;

            }


        }
    }
}