@import "@globalStyles/responsive.css";

.Admin {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px auto;
    @media (--screen-md) {
        grid-template-columns: 260px auto;

    }
    .main{
        max-width: 1200px;
        margin: 0 auto;
    }

}