@import "@globalStyles/responsive.css";

.Header {
  padding: 10px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (--screen-md) {
    grid-template-columns: auto 1fr auto;
  }

  button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    @media (--screen-md) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .link {
    display: none;
    @media (--screen-md) {
      display: grid;
    }
    .logo {
      @media (--screen-md) {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        gap: 4px;
        align-items: center;
      }

      img {
        width: 58px;
        height: 58px;
      }
      /*Drop Down Menu display*/

      h1 {
        font-style: normal;
        line-height: normal;
        font-weight: 400;
        font-size: 30px;
        color: var(--secondary);
      }
    }
  }

  .menu {
    display: grid;
    grid-column: span 2;
    place-items: center;

    &--close {
      display: none;
    }

    @media (--screen-md) {
      display: grid !important;
      grid-column: span 1;
    }

    ul {
      display: grid;
      width: 100%;
      justify-self: left;
      @media (--screen-md) {
        grid-auto-flow: column;
        justify-content: end;
      }
    }

    li,
    a {
      width: 100%;
    }

    a {
      display: grid;
      grid-auto-flow: column;
      gap: 0 8px;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px 8px;
      color: black;
      font-size: 1.2rem;
      @media (--screen-md) {
        padding: 0 8px;
        justify-items: flex-end;
      }
    }

    .line {
      display: none;
      width: 2px;
      height: 100%;
      @media (--screen-md) {
        display: block;

        background: black;
        content: "a";
      }
    }
  }
  .dropDownMenu {
    justify-self: flex-end;
    display: grid;
   
    @media (--screen-md) {
      grid-auto-flow: column;
      align-content: center;
      gap: 4px;
      align-items: center;
      order: 2;
    }
    .buttonDropDown {
      height: auto;
      width: auto;
      display: grid;
      padding: 0rem;
      grid-auto-flow: column;
      align-content: center;
      gap: 4px;
      align-items: center;

      .avatar {
        width: 55px;
        height: 55px;
        @media (--screen-md) {
            width: 60px;
            height: 60px;
          order: 2;
        }
      }
    }
  }
}
