@import "@styles/responsive.css";
.main{
    display: flex;
    .content{
        width:100%;
        height: 100%;
        padding-left: 0px;
        @media (--screen-md) {
            width: calc(100%-260px);
            padding-left: 260px;
        }
        
        
    }
}