@import "@globalStyles/responsive.css";


.Sidebar {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 5px;
    z-index: 999;
    background: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);

    display: grid;

    @media (--screen-md) {
        width: 260px;
        display: flex;
        flex-direction: column;
    }

    .SidebarTop {
        @media (--screen-md) {
            padding: 1rem;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

        }

        .logo {
            @media (--screen-md) {
                display: grid;
                grid-auto-flow: column;
                align-content: center;
                gap: 8px;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 35px;
                height: 35px;
                @media (--screen-md) {
                    width: 58px;
                    height: 58px;
                }

            }

            h1 {
                display: none;
                color: var(--deepPurple);
                font-style: normal;
                line-height: normal;
                font-weight: 400;
                font-size: 30px;
                @media (--screen-md) {
                    display: grid;
                }
            }
        }
    }

    .SidebarContent {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        @media (--screen-md) {
            padding: 3rem 1rem 1rem 1rem;
        }

        .menu {
            width: 100%;

            .navList {
                font-size: 1.2rem;
                display: grid;
                grid-gap: 15px;
                color: aliceblue;

                .navItem {
                    width: 100%;

                    a {
                        padding: 8px;
                        background: var(--celeste);

                        border-radius: 4px;
                        box-sizing: border-box;
                        box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
                        color: white;
                        display: grid;
                        justify-items: center;
                        align-items: center;

                        @media (--screen-md) {
                            grid-auto-flow: column;
                            grid-column-gap: 5px;
                            padding: 8px 16px;
                            justify-items: start;
                            justify-content: start;
                        }

                        svg {
                            color: white;
                        }
                    }
                     .nav_active {
                         position: sticky;
                        transform: scale(1.05);
                         box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
                    }

                    .nav_link {

                    }

                    span {
                        display: none;
                        @media (--screen-md) {
                            display: grid;
                        }
                    }


                }
            }
        }

        .SidebarBottom {
            width: 100%;
            display: flex;
            align-items: baseline;

            .SidebarBottomButton {
                background: var(--salmon);
                display: grid;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 8px;
                border-radius: 4px;
                box-sizing: border-box;
                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
                color: white;

                @media (--screen-md) {
                    display: grid;
                    grid-auto-flow: column;
                    grid-gap: 5px;
                }

                &:hover {
                    cursor: pointer;
                }

                span {
                    display: none;
                    @media (--screen-md) {
                        display: grid;
                    }
                }
            }
        }
    }
}
