@import "@globalStyles/responsive.css";
@import "@globalStyles/global.css";


.list {
  display: flex;
  list-style: none;
  height: 420px;
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
  @media (--screen-md) {
    height: 520px;
  }
  ::-webkit-scrollbar {
    height: 2px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: #fff3;
  }

  li {
    flex: 0 0 200px;
    margin: 0 20px 0 0;
    padding: 12px 0;
    > div {
      display: grid;
      justify-content: center;
      position: relative;
      .tag{
        position: absolute;
        right: 12;
        justify-self: center;
        background: white;
        border-radius: 8px;
        border: 1px solid var(--secondary);
        padding: 4px 6px;
        transform: translate(0%, -40%);
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          margin: 0;
          text-align: center;
          color: var(--secondary);
          @media (--screen-md) {
            font-size: 1.8rem;
          }
        }
      }
      
      img {
        max-width: 300px;
        height: 350px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        @media (--screen-md) {
          width: 400px;
          height: 450px;
        }
      }
    }
  }

  li:last-of-type {
    margin: 0;
  }
}
