@import "@styles/responsive.css";
@import "@styles/global.css";

.container {
  display: grid;
  judtify-content: center;
  padding-button: 32px;
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 28px;
    min-height: 500px;
    max-width: 320px;
    display: grid;
    grid-template-rows: auto auto;
    justify-self: center;
    justify-items: center;
    align-items: center;
    @media (--screen-md) {
      max-height: 600px;
      min-width: 380px;
    }
    .ImageFavour {
      max-height: 80%;
      object-fit: cover;
      border-radius: 2rem;
      width: 92%;
      filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
    }
    .InfoContainer {
      justify-items: center;
      align-items: center;
      display: grid;
      padding: 5%;
      height: 100%;
      grid-template-rows: auto auto;
      @media (--screen-md) {
        padding: 0;
      }
      .InfoTextContainer {
        /*
                Manejo espacio entre textos
                */
        display: grid;
        grid-template-rows: repeat(3, auto);
        h3 {
          font-weight: 700;
        }
        h4 {
          padding: 0.25rem 1.25rem 0.625rem 0.3125rem;
          font-weight: 500;
        }
        span {
          font-weight: 300;
          padding: 0.625rem 0rem;
        }

        @media (--screen-md) {
          padding: 0;
          h3 {
            font-size: 1.2rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          h4 {
            font-size: 1rem;
          }
          span {
            font-size: 1.25rem;
            padding: 1.25rem 0rem;
          }
        }
        @media (--screen-lg) {
          h3 {
            font-size: 1.75rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          h4 {
            font-size: 1.25;
          }
          span {
            font-size: 1.2rem;
          }
        }
      }

      .ButtonContainer {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        column-gap: 5%;
        padding: min(0.75rem, 10%) 0;
        @media (--screen-md) {
          padding: 0.2rem 0 rem;
        }
        button {
          border-radius: 50%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button:hover,
        button:focus {
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
          transform: translateY(-0.25em);
        }
        button{
            color: white;
            background: none;
            height: 3.125rem;
          width: 3.125rem;
          @media (--screen-md) {
            height: 3.4rem;
            width: 3.4rem;
          }
          @media (--screen-lg) {
            height: 4.8rem;
            width: 4.8rem;
          }
        }
        .ButtonDis {
          
          border: 1px solid #ff5b64;
          
          svg {
            max-height: 60%;
            object-fit: cover;
            color:#ff5b64;
            height: 100%;
            width: 100%;
            
          }
        }
        .ButtonLike{
            border: 1px solid var(--celeste);
          
          svg {
            max-height: 60%;
            object-fit: cover;
            color:var(--celeste);
            height: 100%;
            width: 100%;
            
          }
        }
        
      }
      .image3d {
        position: absolute;
        left: 25px;
        top: 368px;
        img {
          height: 280px;
          width: 280px;
        }
      }
    }
  }
}
