@import "@styles/responsive.css";
@import "@styles/global.css";

.card{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    padding: 28px;
    h2{
        color: var(--deepPurple);
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        @media (--screen-md) {
            font-size: 1.8rem;
            font-weight: 600;
          }
    }
    img{
        margin-top: 1rem;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        justify-self: center;
        @media (--screen-md) {
            margin: 1rem 0;
            width: 100px;
            height: 100px;
          }
    }
    p{
        padding: 1rem 0.5rem;
        color: #121212;
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
        
        @media (--screen-md) {
            font-size: 1.2rem;
        font-weight: 400;
          }
    }
    .box{
        display: flex !important;
        gap: 1.5rem;
        a{
            svg{
                color: var(--salmon);
                width: 32px;
                height: 32px;
            }
            svg:hover{
                color: #bb2f37;
            }
            
        }
    }
}
.card:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
