@import "@styles/responsive.css";

.Match {
  position: relative;
  min-height: calc(100vh - 78px);
  display: grid;
  align-items: center;
  .bgMatch{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;


  }

  .container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    min-height: 650px;


  }
}