@import "@styles/responsive.css";
.ReportCard{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; 
    border: 2px solid #ddd;

    max-width: 100%;
    border-radius: 12px;
    padding: 12px;
    h1{
        font-size: 3.5rem;
        padding: 16px;
        text-align:center;
    }
    h2{
        font-size: 1.5rem;
    }
    .profiles{
        padding: 12px;
        grid-gap: 12px;
        display:grid;
        grid-template-rows: 1 fr 1fr;
        
        @media (--screen-md) {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
            
        }
        img{
            width: 32px;
            heigth: 16px;

        }
        h2{
            font-size: 1.5rem;
            text-align: center;

        }
        .profile{
            display: grid;
            grid-template-rows: auto auto auto;
            
            justify-items: center;
        }
    }
    p{
        text-align: justify;
        padding: 12px;
    }
    .Buttons{
        padding: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        button{
            padding: inherit;
            width: auto;
            height: auto;
            cursor: pointer;
           
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            font-weight: 400;
            justify-self: center;
            font-size: 20px;
            border: none;
        }
        button:hover,button:focus {
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.45);
            transform: translateY(-0.25em);
        }
        .deniedButton{
            background-color: var(--salmon);
        }
        .aceptButton{
            background-color: var(--celeste);
        }
    }
}