@import "@globalStyles/responsive.css";

.Dashboard {
    padding: 15px;

    .firstContent {
        display: grid;
        gap: 1rem;
        margin: 1rem 0;
        @media (--screen-md) {

            grid-template-columns: repeat(2, 1fr);

        }
    }

    .singleDashboardCard {
        background: white;
        border-radius: 8px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .cardContent {
            display: grid;
            gap: 0.5rem;

            h2 {
                color: var(--deepPurple);
            }

            span {
                justify-self: center;
                font-size: 1rem;
            }
        }

        .cardIcon {
            svg {
                width: 45px;
                height: 45px;
                fill: var(--deepPurple);
            }


        }

        /*&:hover{
            box-shadow: 1px 1px 8px var(--salmon);
        }*/

        &:nth-child(3) {
            .cardIcon {
                svg {
                    fill: var(--celeste);
                }
            }
        }

        @media (--screen-md) {
            padding: 20px;
            .cardContent {
                h2 {
                    font-size: 1.5rem;
                }

                span {
                    font-size: 1.5rem;
                }
            }

            .cardIcon {
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }


    .secondContent {
        display: grid;
        gap: 1rem;
        margin: 1rem 0;
        @media (--screen-md) {

            grid-template-columns: repeat(3, 1fr);

        }
    }

    .charts {
        display: grid;
        gap: 15px;
        justify-items: center;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 8px;
        justify-content: center;

        @media (--screen-xl) {
            justify-content: space-between;
            grid-auto-flow: column;
        }

        h2 {
            color: var(--secondary);
            text-align: center;
        }

        .pie {

            width: 330px;
            height: 300px;
            @media (--screen-md) {
                width: 500px;
                height: 500px;
            }
        }

        .line {
            width: 340px;
            height: 300px;
            @media (--screen-md) {
                width: 500px;
                height: 500px;
            }
        }
    }
}