@import "@styles/responsive.css";
.Dashboard{
    padding: 5rem 1rem 5rem 1rem;
    .DashboardWrapper{
        .DashboardCardsContent{
            .singleDashboardCard{
                
                background-image: linear-gradient(to bottom, var(--salmon), #ff7279);
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content:space-between;
                .cardContent{
                    h2{
                        color:var(--deepPurple);
                    }
                    span{
                        font-size: 2rem;
                    }
                }
                .cardIcon{

                }
            }
            
        }
    }
}